#round .cropper-crop-box, #round .cropper-view-box {
    border-radius: 50%;
}

#image-input{
    display: flex;
    flex-direction: column;
}

#img-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img#round{
    border-radius: 50%;
}